@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.container{
  margin: 0 auto;
}

.dark{
  background-color: #131313;
  color: aliceblue;
}
